/* 
3 row grid to 3 col grid
except footer
*/
/* 
no hamber menu 
single column becomes multi
*/
.header {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 100%;
  padding: 15px 23px;
  background: #fff;
}

.header .toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  margin-left: .29rem;
  cursor: pointer;
}

.header .toggler .bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 1.4px .5rem;
  background: #333;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  margin-right: 7rem;
}

.header .logo img {
  width: 69px;
  height: 47px;
  padding-top: .4rem;
}

@media screen and (min-width: 960px) {
  .header .toggler {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 100%;
  display: none;
  width: 250px;
  height: 100%;
  background: #f2f2f2;
  padding-bottom: 1px;
}

.nav ul {
  margin-top: 20%;
  width: 100%;
  height: 83%;
  overflow: scroll;
}

.nav ul li {
  padding: 1rem;
  margin: .5rem 0;
  width: 100%;
}

.nav ul li:hover {
  border-right: 5px solid #37b777;
}

.nav ul li a {
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #2f313f;
}

.nav ul.active {
  left: 0;
  opacity: 1;
}

.nav.active {
  left: calc(100% - 250px);
  display: block;
  overflow: scroll;
}

.nav i {
  width: 100%;
  padding: .8rem;
  margin-top: 1px;
  text-align: center;
  border: 1px solid orange;
}

.nav i:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 960px) {
  .nav {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    left: 0;
    height: 83px;
    background: transparent;
    z-index: 2;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .nav li {
    text-align: center;
    width: 50%;
    display: inline;
    margin: 0;
  }
  .nav li:not(:last-child):hover {
    border-bottom: 2px solid transparent;
    background: #fff !important;
  }
  .nav li .navLink {
    padding: 0;
  }
  .nav li .rideBtn {
    background: #37b777;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    padding: .5rem 3rem;
    margin-left: 2rem;
  }
  .nav li .rideBtn::after {
    display: none;
  }
  .nav .rideLink:hover {
    background: #fff;
  }
}

.hero {
  width: 100%;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.hero .heroContent {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
}

.hero .heroContent .slogan {
  background: #37b777;
  padding: 0 24px 52px 24px;
  text-align: center;
}

.hero .heroContent .slogan h3 {
  width: 95%;
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  text-align: left;
  padding: 2rem 0;
  margin: 0;
}

.hero .heroContent .slogan p {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 1rem;
}

.hero .heroContent .slogan img {
  width: 135px;
  padding: .3rem 0;
  margin: 0 0.5rem;
}

.hero .heroContent .promoPic {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero .heroContent .promoPic img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 960px) {
  .hero .heroContent {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.beDriver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #6779fb;
}

.beDriver .beDriverContent {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1.3rem;
}

.beDriver .beDriverContent h2 {
  line-height: 2rem;
  padding-top: 1rem;
}

.beDriver .beDriverContent p {
  width: 100%;
  line-height: 1.7rem;
  padding-top: 0.3rem;
}

.beDriver .beDriverContent button {
  background: #fff;
  border: none;
  border-radius: 25px;
  color: #333;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .12rem;
  padding: .9rem 1.4rem;
  margin: 1.8rem 0;
}

.benefits {
  width: 100%;
  max-width: 1200px;
  background: #fff;
}

.benefits .perks {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
  padding: 2.5rem 24px;
}

.benefits .perks .perk {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -ms-grid-row-align: start;
      align-self: start;
}

.benefits .perks .perk:first-child {
  margin-top: 2rem;
}

.benefits .perks .perk div {
  font-size: 1.5rem;
}

.benefits .perks .perk div:first-child img {
  width: 70px;
  height: 70px;
  padding: 0 .2rem .2rem 0;
}

.benefits .perks .perk div:last-child {
  color: #818390;
}

.benefits .perks .perk div:last-child p:first-child {
  color: #2f313f;
  font-size: 24px;
  font-weight: 800;
}

.benefits .perks .perk div:last-child p:last-child {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  padding-top: 0.5rem;
}

.benefits .perks .perk i {
  color: #37b777;
  font-size: 1.4rem;
  text-align: center;
  padding: .85rem;
  border-radius: 50%;
  background: #dafce6;
}

#benefits2 .perks {
  padding: 1rem .7rem;
}

#benefits2 .perks:last-child {
  margin-bottom: 2rem;
}

#benefits2 .perks .perk {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.getRide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.getRide .cir {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #dafce6;
  z-index: -2;
}

.getRide .circle1 {
  width: 150px;
  height: 150px;
  -webkit-transform: translate(70%, -150%);
          transform: translate(70%, -150%);
  -webkit-animation: bounce 6s linear infinite;
          animation: bounce 6s linear infinite;
}

.getRide .circle2 {
  width: 500px;
  height: 500px;
  -webkit-transform: translate(-60%, -25%);
          transform: translate(-60%, -25%);
}

.getRide .container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 90%;
}

.getRide .container .phone {
  text-align: center;
}

.getRide .container .phone img {
  width: 70%;
  max-width: 350px;
}

.getRide .container .text {
  padding: 0 .5rem;
}

.getRide .container .text h3 {
  font-size: 35px;
  color: #2f313f;
  padding: 1rem 0;
  line-height: 2.5rem;
}

.getRide .container .text p {
  width: 90%;
  color: #818390;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 2rem;
}

.prefooter {
  width: 100%;
  background-color: #37b777;
}

.prefooter .preContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 1.5rem 0;
}

.prefooter .preContent h4 {
  font-size: 32px;
  padding: 1.3rem 0 .9rem 0;
}

.prefooter .preContent .appStore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  padding: .5rem;
}

.prefooter .preContent .appStore img {
  max-width: 135px;
}

.prefooter .preContent .appStore img:first-child {
  margin-bottom: .3rem;
}

.prefooter .preContent p {
  padding: .5rem 0;
}

.prefooter .preContent p a {
  color: #fff;
  text-decoration: underline;
}

.footer {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  background: #f4f4f6;
  padding: 1.2rem 1.4rem;
}

.footer .customerAid {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .customerAid img {
  width: 69px;
  padding: 1.8rem 0;
}

.footer .customerAid .appStore {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-bottom: 1rem;
}

.footer .customerAid .appStore img {
  width: 135px;
  padding: 0.1rem 0;
}

.footer .customerAid i {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 0;
}

.footer .customerAid i:last-child {
  padding: 2.5rem 0;
}

.footer .products, .footer .aboutUs {
  padding: 1.2rem 0;
  color: #2f313f;
}

.footer .products h5, .footer .aboutUs h5 {
  color: #2f313f;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.footer .products li, .footer .aboutUs li {
  padding: .5rem 0;
  margin: 1rem 0;
  cursor: pointer;
}

.footer .products li a, .footer .aboutUs li a {
  font-size: 15px;
  font-weight: 300;
  color: #2f313f;
  text-transform: uppercase;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.footer .socials i {
  font-size: 1.2rem;
  color: #2f313f;
  opacity: 0.9;
  text-align: center;
  padding: .65rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid #2f313f;
}

.footer .socials i:first-child {
  padding: 0.65rem .8rem;
}

.footer .socials i:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer .credits {
  text-align: center;
}

.footer .credits .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #666;
  width: 100%;
  font-size: 15px;
  padding-bottom: 1.5rem;
}

.footer .credits .policy p {
  padding: 0 0.5rem;
}

.footer .credits .policy p:first-child {
  border-right: 1px solid #666;
}

.footer .credits .policy p a {
  color: #666666;
}

.footer .credits .iconCredit {
  color: #aaa;
  margin: 0.3rem 0;
  font-size: 12px;
}

.footer .credits .iconCredit a {
  color: #333;
  text-decoration: underline;
}

.footer .credits h5 {
  color: #2f313f;
  font-size: .8rem;
  margin: .5rem 0;
  font-weight: normal;
}

.footer .credits h5 a {
  color: #37b777;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

body.overflow {
  overflow: hidden;
}

section,
header,
footer {
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 0;
}

section.slide,
header.slide,
footer.slide {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  left: -250px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */